{% extends 'studentapp/base.html' %}

{% block title %}Student Detail{% endblock title %}

{% block body %}

<div class="container">
    <br>
    <h2 style="text-align:center; color: rgb(16, 39, 245);"><u>Student Detail</u></h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Dob</th>
                <th scope="col">Gender</th>
                <th scope="col">Course</th>
                <th scope="col">City</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.course}}</td>
                <td>{{i.city}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.email}}</td>
                <td><img src="/media/{{i.image}}" style="width:80px;height:65px;"></td>
                <td><a href="{% url 'update' i.id %}" class="btn btn-success">Update</a></td>
                <td><a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock body %}